<div class="container">

    <!-- 1ST DIV IMG -->
    <div class="img">
        <img src="assets/image/formpic.png" alt="form pic">
    </div>

    <!--  2ND DIV USER INFO -->
    <div class="user-info">
        <h1>ADMIN</h1>
        <form action="#" class="form">
            <label for="email">Email:</label><br>
            <input type="email" id="email" placeholder="youremail@gmail.com" class="data">
            <br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" placeholder="Enter your password" class="data">
        </form>
    </div>

    <!--  3RD DIV BUTTON -->
    <div class="button">
        <button class="button-box">LOG IN</button>
    </div>

</div>
<!--  MAIN DIV CLOSE -->
<!-- <img src="../assets/image/R0VPIFRBRy5qcGVn.png" alt="loding...."> -->