<!-- <img src="assets/images/formPic.png" alt="pic">  -->

<!-- HEADER SECTION -->
<div class="row">
    <div class="search-button">
        <button>
            <img src="assets/images/lens.png" class="search">
            Search....</button>
    </div>
    <div class="items-box">
        <ul>
            <div class="center">
                <li><a href="#" class="items"><img src="assets/images/globe.png" class="images"><b>ENGLISH</b></a></li>
            </div>
            <li><a href="#" class="items"><img src="assets/images/bell.png" class="images"></a></li>
            <li><a href="#" class="items"><img src="assets/images/moon.png" class="images"></a></li>
            <li><a href="#" class="items"><img src="assets/images/comment.png" class="images"></a></li>
            <li><a href="#" class="items"><img src="assets/images/menu.png" class="images"></a></li>
            <li><a href="#" class="items"><img src="assets/images/man.png" class="images"></a></li>
        </ul>
    </div>
</div>

<!-- MID SECTION  -->
<!-- MID 1ST SECTION -->
<div id="section-part">
    <div class="column">
        <div class="column-division">
            <ul>
                <li>
                    <h2 class="Heading">MAIN</h2>
                </li>
                <li class="list-item"><img src="assets/images/dashboard.png" class="pics"> Dashboard</li>

                <li>
                    <h2 class="Heading">LISTS</h2>
                </li>
                <li class="list-item"><img src="assets/images/teamwork.png" class="pics">Employee</li>
                <li class="list-item"><img src="assets/images/event.png" class="pics">Events</li>
                <li class="list-item"><img src="assets/images/attendance.png" class="pics">Attendance</li>
                <li class="list-item"><img src="assets/images/logout.png" class="pics">Logout</li>
            </ul>
        </div>
    </div>
    <!-- MID 2ST SECTION -->
    <div class="main-container">
       
      
        <div class="row1-container">
            <div class="row-items">TotalEmployee</div>
            <div class="row-items">Today's  Attendance</div>
            <div class="row-items">On  Leave</div>
        </div>

        <div class="row2-container">
            <div class="container">
                <span>Role</span>
                <div class="items-row" id="item-box1">Frond-End Developer 80</div>
                <div class="items-row" id="item-box2">Back-End Developer 60</div>
                <div class="items-row" id="item-box3">UI/UX Developer 20</div>
            </div>
            <div class="container-box">Last 6 months report
                <hr>
            </div>

        </div>
    </div>
</div>